html, body {
  font-size: 100%;
  font-family: $--default-font-family;
  font-weight: $--default-font-weight;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.viblo-app {
  min-height: 100vh;
}

.viblo-container {
  max-width: $max-width-container;
  margin-left: auto;
  margin-right: auto;
}
