@font-face {
  font-family: 'UTM';
  src: url('~assets/fonts/UTM Avo.ttf');
}

@font-face {
  font-family: 'UTM';
  src: url('~assets/fonts/UTM AvoBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'UTM';
  src: url('~assets/fonts/UTM AvoItalic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'UTM';
  src: url('~assets/fonts/UTM AvoBold_Italic.ttf');
  font-weight: bold;
  font-style: italic;
}
