.no-underline {
  text-decoration: none !important;
}

.link {
  color: $primary;
  font-size: inherit;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &--plain {
    color: #414141;
    &:hover {
      color: $primary;
    }
  }
}
